<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/main.css" />

        <title> {{ title }} </title>
    </head>
    <body>
        <header>  
            <h1> {{ header }} </h1>

            <nav>
                <a href="/">Home</a>
            </nav>
        </header>    
        
        {{{ body }}}

        <footer>
            <p>Created by Luis Larghi 2016</p>
        </footer>
    </body>
</html>